---
import '../styles/global.css';

const { title, description, schema } = Astro.props;
---
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="canonical" href={Astro.url.href} />

    {schema && (
      <script type="application/ld+json" set:html={JSON.stringify(schema)} />
    )}
  </head>
  <body>
    <slot />
  </body>
</html>